    <link rel="stylesheet" href="/css/create.css">




    <div class="header">
    <a href="/tasks"><h1 class="title">My Notes</h1></a>
    <a href="/tasks" class="boton_titulo"><button>Mis Notas</button></a>
    </div>

    <div class="container">
        <h1>Crear Nota</h1>
        <div class="form-container">


        <form action="" method="POST" id="note-form">
        <div class="form-group">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea id="description" name="description"></textarea>
        </div>


    <div class="contenedor-botones">
        <a href="/tasks"><button type="button" class="btn">Regresar</button></a>
        <button type="submit" class="btn">Guardar</button>
    </div>
        

        </form>
        </div>
        </div>
    </div>